/*--------------------------------------------------
    ##Footer
---------------------------------------------------*/
.footer-area {
	position: relative;
	padding-top: 115px;
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: var(--heading-color);
        z-index: -1;
    }
 	.widget {
 		position: relative;
 		z-index: 2;
 		margin-bottom: 70px;
 	}
	.widget-title {
		margin-bottom: 20px;
		position: relative;
	}
	.widget_about {
		.thumb {
			margin-bottom: 20px;
			img {
				max-width: 125px;
			}
		}
		.details {
			p {
				margin-bottom: 0;
				color: #fff;
			}
			.social-media {
				margin-top: 26px;
				li {
					a:hover {
						background: var(--main-color);
						color: #fff;
					}
				}
			}
		}
	}
	.widget_nav_menu {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin-bottom: 7px;
				position: relative;
				color: #fff;
				position: relative;
				padding-left: 20px;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 9px;
					background: var(--main-color);
					height: 8px;
					width: 8px;
					border-radius: 50%;
					transition: 0.4s;
				}
				&:hover {
					&:after {
						background: #fff;
					}
				}
			}
		}
	}
	.widget_subscribe {
		.single-input-inner {
			position: relative;
			input {
				padding-right: 40px;
			}
		}
		button {
			padding: 0;
			border: 0;
			position: absolute;
			right: 15px;
			top: 10px;
			background: transparent;
			color: var(--main-color);
		}
		label {
			color: #fff;
			position: relative;
			padding-left: 22px;
			input {
				position: absolute;
				left: 0;
				top: 7px;
			}
		}
	}
}


.footer-top {
	padding-top: 55px;
	padding-bottom: 90px;
}
.footer-bottom {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding: 23px 0;
	position: relative;
	z-index: 2;
	p {
		margin-bottom: 0;
		color: #fff;
	}
}